@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 231, 235; /* Gris claro para texto */
  --background-start-rgb: 23, 23, 23; /* Fondo oscuro principal */
  --background-end-rgb: 23, 23, 23;

  /* Paleta de colores para la tienda de juegos */
  --primary-color: #f59e0b; /* Un ámbar vibrante para acentos */
  --secondary-color: #3b82f6; /* Un azul para botones secundarios o links */
  --card-background: #27272a; /* Fondo para las tarjetas de producto */
  --border-color: #3f3f46; /* Color para bordes sutiles */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif; /* Fuente moderna y legible */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
